name: Release and Publish

on:
    tags: [ 'v*' ]

jobs:
  build-pypi-package:
    name: Build PyPI Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine
      - name: Build package
        run: |
          python -m build
      - name: Check package
        run: |
          python -m twine check dist/*
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pypi-package
          path: dist/*

  release:
    name: Create GitHub Release and Publish to PyPI
    needs: [build-pypi-package]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write  # Needed for PyPI trusted publishing
    steps:
      - uses: actions/checkout@v4
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          pattern: opendata-*
          merge-multiple: true
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/opendata-win.exe
            artifacts/opendata-linux
            artifacts/opendata-macos-arm
          generate_release_notes: true
          draft: false
          prerelease: false
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: artifacts/
